<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Gmail</servlet-name>
    <servlet-class>Gmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gmail</servlet-name>
    <url-pattern>/Gmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Page1</servlet-name>
    <servlet-class>Page1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page1</servlet-name>
    <url-pattern>/Page1</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/Page1</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFilter1</filter-name>
    <filter-class>MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter1</filter-name>
    <url-pattern>/Gmail.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFilter2</filter-name>
    <filter-class>MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter2</filter-name>
    <url-pattern>/Myservlet</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>MyListner</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>LoginPage</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>path of .propeties file</description>
    <param-name>properties-file</param-name>
    <param-value>/home/administrator/Desktop/javapgms1/Gmail/WebContent/WEB-INF/data.properties</param-value>
  </context-param>
</web-app>