<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp2</display-name>
   <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>User-Credentials</param-name>
  <param-value>com.val.Properties.Users</param-value>
  </context-param>
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.val.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DateServlet</servlet-name>
  <servlet-class>com.val.Servlets.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DateServlet</servlet-name>
  <url-pattern>/Date</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.val.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
 <filter>
  <filter-name>AuthenticationFilter</filter-name>
  <filter-class>com.val.Filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>/login</url-pattern>
  </filter-mapping>
   <filter>
  <filter-name>AuthorizationFilter</filter-name>
  <filter-class>com.val.Filters.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>/Success.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>/Display.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
  <filter-name>AuthorizationFilter</filter-name>
  <url-pattern>/Date</url-pattern>
  </filter-mapping>
  <listener>
  <listener-class>com.val.Listeners.UserCountListener</listener-class>
  </listener>
  <listener>
  <listener-class>com.val.Listeners.FileLoadListener</listener-class>
  </listener>
</web-app>