<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  <servlet-name>Gmail</servlet-name>
  <servlet-class>Gmail</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Gmail</servlet-name>
  <url-pattern>/Gmail</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Myservlet</servlet-name>
  <servlet-class>Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Myservlet</servlet-name>
  <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
		<description>path of .propeties file</description>
		<param-name>properties-file</param-name>
		<param-value>/home/administrator/Desktop/javapgms1/Gmail/WebContent/WEB-INF/data.properties</param-value>
	</context-param>
</web-app>