      
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>Calendar App</title>
	
<link href="./css/stylesdiv.css" rel="stylesheet" type="text/css">
<link type="text/css" href="./css/menu-2.css" rel="stylesheet" />
<link type="text/css" href="./js/menu.js" rel="stylesheet" />	<script type="text/javascript" src="./js/menu.js"></script>
<!-- full calender links -->
<link href='./css/fullcalendar.css' rel='stylesheet' />
<link href='./css/fullcalendar.print.css' rel='stylesheet' media='print' />
<!--jQuery-->
<script src='./js/jquery-1.9.1.min.js'></script>
<script src='./js/jquery-ui-1.10.2.custom.min.js'></script>
<script src='./js/fullcalendar.js'></script>
<!--FullCalendar-->
<script src='./js/fullcalendar.min.js'></script>
</head>
<body>
<div id="header">
Admin page
<!-- <a href="#" id="logout">logout</a> --> 
</div>
<!-- <div id="header2">Header2 Section -->
<div id="sse1">
<div id="sses1">
<ul>
<li><a href="" >Home</a></li>
<li><a href="#Teams" id="teams">Teams</a></li>
<li><a href="#AddTeam" id="addteam">Add Team</a></li>
<li><a href="#UpdateTeam" id="updateteam">Update Team</a></li>
</ul>
</div>
<button id=logout onclick="location.href='Logoutcalender.html'">logout</button>
</div>
<!-- </div> -->

<div id="rightcol" class="rightcolumn">&nbsp;&nbsp;Team Details</div>

<div id="calendar" class="leftcolumn"></div>
<div id="footer" align="center"> <br>Copy Right @JavaTraining2014</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<!--Display Team  -->
<script type="text/template" id="teamdisplay"> 

   <%=teamName%>   <input type="button" value="GetDetails" id="getdetails" calss="temp"/> 


</script>

<!--Update Team name display  -->

<script type="text/template" id="updateteamdisplay"> 

   <%=teamName%>   <input type="button" value="Update Team" id="updatedetails" /> 


</script>

<!-- Team details Display  -->

 <script type="text/template" id="NewTeamTemplate">
	<center>	<form method="post" id="forming"><br/>
			Team Name:<input type="text" id="tname"/><br/>
			Client Name:<input type="text" id="cname"/><br/>
			Client Location:<input type="text" id="clocation"/><br/>
			<br/>
			<input type="button" value="Add Row" onclick="addRow('dataTable')" />
			<input type="button" value="Delete Row" onclick="deleteRow('dataTable')" /><br/>
			<br/> 
			 <table id="dataTable" width="1100px" border="1" align="center">
				
                                 <tr>
				<th>&nbsp;</th>
				<th>ID &nbsp;</th>
				<th>Name &nbsp;</th> 
				<th>Email</th> 
				<th>Contact No</th> 
				<th>Designation</th>
				
				</tr>
				<tbody>
					</tbody>
			 </table><br/>
			 <br/>
			 <input type="submit" value="submit" id="NewTeam"/>
			</form> </center>
</script>

<!--Adding new Emp at update emp -->
<script type="text/template" id="updateTeam_addEmp">
<center>
<form method = "post" id="addnewemp" action=" "> <br/>
<input type="text" placeholder="Id of the person" id="ids">
    <input type="text" placeholder="Name of the person" id="name">
    <input type="text" placeholder="Email of the person" id="email">
    <input type="text" placeholder="ContactNO of the person" id="contact">
     <select id="designation">
        <option value="Manager">Manager</option>
        <option value="ScrumMaster">ScrumMaster</option>
        <option value="SnrDeveloper">SnrDeveloper</option>
        <option value="SnrQA">SnrQA</option>
    </select>
    
    <input type="submit" value="Add Emp" id="addempsubmit" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" value="Submit" id="submitAllData" >
</form>
</center>

</script>



<script id="clientTemplate" type="text/template">
    <span><strong><%= clientname %> </strong>  - <%= clientlocation %> </span>
    <button class="clientedit">Edit</button>
    <button id="clientdelete">Delete</button>
</script>


<script id="empTemplate" type="text/template">
    <span><strong><%= id %> </strong> (<%= name %>) - <%= email %>  -   <%= contactnum %>  - <%= designation %></span>
    <button class="edit">Edit</button>
    <button id="delete">Delete</button>
</script>
<script src="./js/admin.js"></script>
</body>
</html>
    

